n8n/lito-telegram-to-web-reply.json
{
  "name": "Lito - Telegram a Web",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger-lito",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "lito-telegram-replies"
    },
    {
      "parameters": {
        "jsCode": "const update = $json.message ?? null;\n\nif (!update) {\n  throw new Error('Missing Telegram message');\n}\n\nconst text = (update.text || '').trim();\nif (!text) {\n  throw new Error('Missing Telegram text');\n}\n\nconst repliedText = (update.reply_to_message?.text || '').trim();\nconst commandMatch = text.match(/^\\/lito\\s+([^\\s]+)\\s+([\\s\\S]+)$/i);\nconst repliedSessionMatch = repliedText.match(/Sesion:\\s*([^\\s]+)/i);\n\nconst sessionId = commandMatch?.[1] || repliedSessionMatch?.[1] || '';\nconst replyText = (commandMatch?.[2] || text).trim();\n\nif (!sessionId) {\n  throw new Error('No encontre sessionId. Responde al mensaje original de Lito o usa /lito <sessionId> respuesta');\n}\n\nif (!replyText) {\n  throw new Error('Missing reply text');\n}\n\nreturn [{\n  json: {\n    replyId: `telegram-${update.chat?.id || 'chat'}-${update.message_id || Date.now()}`,\n    sessionId,\n    message: replyText,\n    telegramChatId: update.chat?.id,\n    telegramAck: `Respuesta enviada a la sesion ${sessionId}`,\n  },\n}];"
      },
      "id": "code-parse-telegram-reply",
      "name": "Parsear Respuesta Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://tu-dominio.com/api/lito-chat/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-lito-reply-secret",
              "value": "REEMPLAZAR_CON_SECRETO_REPLY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { id: $json.replyId, sessionId: $json.sessionId, message: $json.message } }}",
        "options": {}
      },
      "id": "http-send-reply-to-web",
      "name": "Mandar Respuesta a la Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Parsear Respuesta Telegram').item.json.telegramChatId }}",
        "text": "={{ $('Parsear Respuesta Telegram').item.json.telegramAck }}"
      },
      "id": "telegram-send-ack",
      "name": "Confirmar en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parsear Respuesta Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Respuesta Telegram": {
      "main": [
        [
          {
            "node": "Mandar Respuesta a la Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mandar Respuesta a la Web": {
      "main": [
        [
          {
            "node": "Confirmar en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "lito-telegram-to-web-v1"
}
