n8n/lito-webhook-to-telegram.json
{
  "name": "Lito - Webhook a Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lito-inbox",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lito-inbox",
      "name": "Webhook Lito Inbox",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst headers = $json.headers ?? {};\n\nconst expectedSecret = 'REEMPLAZAR_CON_SECRETO_LITO';\nconst receivedSecret = headers['x-lito-secret'] || headers['X-Lito-Secret'] || '';\n\nif (expectedSecret && receivedSecret !== expectedSecret) {\n  throw new Error('Unauthorized webhook request');\n}\n\nconst message = (payload.message || '').trim();\nif (!message) {\n  throw new Error('Missing message');\n}\n\nconst sessionId = payload.sessionId || `lito-${Date.now()}`;\nconst pagePath = payload.pagePath || '/';\nconst receivedAt = payload.receivedAt || new Date().toISOString();\nconst localReceivedAt = new Date(receivedAt).toLocaleString('es-AR', {\n  timeZone: 'America/Argentina/Buenos_Aires',\n  dateStyle: 'short',\n  timeStyle: 'short',\n});\n\nconst telegramText = [\n  'Lito recibio un mensaje nuevo desde la web',\n  '',\n  `Sesion: ${sessionId}`,\n  `Pagina: ${pagePath}`,\n  `Fecha: ${localReceivedAt}`,\n  '',\n  'Mensaje:',\n  message,\n  '',\n  'Responde a este mensaje para contestar en la web.',\n  `Alternativa: /lito ${sessionId} tu respuesta`\n].join('\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    sessionId,\n    telegramText\n  }\n}];"
      },
      "id": "code-validate-format",
      "name": "Validar y Formatear",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "-5193039068",
        "text": "={{ $json.telegramText }}"
      },
      "id": "http-telegram-send",
      "name": "Enviar a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, sessionId: $json.sessionId, message: 'Cacho ya recibio tu mensaje. Cuando responda, te llega por aca.' } }}"
      },
      "id": "respond-webhook",
      "name": "Responder Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1080,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Lito Inbox": {
      "main": [
        [
          {
            "node": "Validar y Formatear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Formatear": {
      "main": [
        [
          {
            "node": "Enviar a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar a Telegram": {
      "main": [
        [
          {
            "node": "Responder Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "lito-webhook-to-telegram-v1"
}
