n8n/lito-signup-to-sheets-and-email.json
{
  "name": "Lito - Sumate a Sheets y Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lito-signup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-lito-signup",
      "name": "Webhook Lito Signup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\nconst headers = $json.headers ?? {};\n\nconst expectedSecret = 'REEMPLAZAR_CON_SECRETO_SIGNUP';\nconst receivedSecret = headers['x-lito-signup-secret'] || headers['X-Lito-Signup-Secret'] || '';\n\nif (expectedSecret && receivedSecret !== expectedSecret) {\n  throw new Error('Unauthorized webhook request');\n}\n\nconst clean = (value) => (typeof value === 'string' ? value.trim() : '');\nconst nombre = clean(payload.nombre);\nconst email = clean(payload.email).toLowerCase();\nconst telefono = clean(payload.telefono);\nconst estacionServicio = clean(payload.estacionServicio);\nconst funcion = clean(payload.funcion);\nconst mensaje = clean(payload.mensaje);\nconst source = clean(payload.source) || 'web-sumate-modal';\nconst receivedAt = clean(payload.receivedAt) || new Date().toISOString();\nconst metadata = payload.metadata ?? {};\nconst userAgent = clean(metadata.userAgent) || 'n/d';\nconst referer = clean(metadata.referer) || 'n/d';\nconst forwardedFor = clean(metadata.forwardedFor) || 'n/d';\n\nif (!nombre || !email || !telefono) {\n  throw new Error('Missing required fields');\n}\n\nif (!/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) {\n  throw new Error('Invalid email');\n}\n\nconst campaignName = 'Lista Azul y Blanca';\nconst campaignUrl = 'https://agj9.vercel.app';\nconst footerLogoUrl = `${campaignUrl}/images/logo/logo-gray.svg`;\nconst localReceivedAt = new Date(receivedAt).toLocaleString('es-AR', {\n  timeZone: 'America/Argentina/Buenos_Aires',\n  dateStyle: 'short',\n  timeStyle: 'short',\n});\nconst sheetId = 'REEMPLAZAR_CON_GOOGLE_SHEET_ID';\nconst sheetUrl = sheetId ? `https://docs.google.com/spreadsheets/d/${sheetId}` : '';\n\nconst subscriberSubject = `Gracias por sumarte a ${campaignName}`;\nconst subscriberDetails = [\n  `<tr><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#47607f; font-size:14px;'>Nombre</td><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#172235; font-size:14px; font-weight:600;'>${nombre}</td></tr>`,\n  `<tr><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#47607f; font-size:14px;'>Email</td><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#172235; font-size:14px; font-weight:600;'>${email}</td></tr>`,\n  `<tr><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#47607f; font-size:14px;'>Telefono</td><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#172235; font-size:14px; font-weight:600;'>${telefono}</td></tr>`,\n  `<tr><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#47607f; font-size:14px;'>Estacion de servicio</td><td style='padding:0.55rem 0.75rem; border-bottom:1px solid #d8e1ef; color:#172235; font-size:14px; font-weight:600;'>${estacionServicio || 'No informada'}</td></tr>`,\n  `<tr><td style='padding:0.55rem 0.75rem; color:#47607f; font-size:14px;'>Funcion</td><td style='padding:0.55rem 0.75rem; color:#172235; font-size:14px; font-weight:600;'>${funcion || 'No informada'}</td></tr>`,\n].join('');\nconst subscriberMessageBlock = mensaje\n  ? `<div style='margin-top:1rem; padding:1rem 1.1rem; border-radius:1rem; background:#f3f7fd; border:1px solid #d8e1ef;'><div style='margin-bottom:0.4rem; color:#0d4675; font-size:13px; font-weight:800; letter-spacing:0.04em; text-transform:uppercase;'>Tu mensaje</div><div style='color:#22324a; font-size:15px; line-height:1.6;'>${mensaje}</div></div>`\n  : '';\nconst subscriberHtml = `\n  <div style='margin:0; padding:32px 16px; background:#eef3fb; font-family:Arial, Helvetica, sans-serif; color:#172235;'>\n    <table role='presentation' cellpadding='0' cellspacing='0' border='0' width='100%' style='max-width:640px; margin:0 auto; background:#ffffff; border-radius:24px; overflow:hidden; box-shadow:0 18px 48px rgba(13, 38, 66, 0.14);'>\n      <tr>\n        <td style='padding:40px 36px 34px; background:linear-gradient(135deg, #0d4675 0%, #2e7ed8 100%);'>\n          <div style='color:rgba(255,255,255,0.78); font-size:13px; font-weight:700; letter-spacing:0.14em; text-transform:uppercase;'>Agrupacion Nueve de Julio</div>\n          <div style='margin-top:10px; color:rgba(255,255,255,0.92); font-size:15px; line-height:1.35; font-weight:700; text-transform:uppercase;'>Vamos juntos por S.O.E.S.G.yP.E.</div>\n          <div style='margin-top:4px; color:rgba(255,255,255,0.92); font-size:15px; line-height:1.35; font-weight:700; text-transform:uppercase;'>Cacho Garcia Conduccion</div>\n          <div style='margin-top:18px; color:#ffffff; font-size:38px; line-height:1.02; font-weight:900; letter-spacing:0.03em; text-transform:uppercase;'>Gracias por sumarte</div>\n          <div style='margin-top:12px; max-width:460px; color:rgba(255,255,255,0.88); font-size:16px; line-height:1.65;'>Recibimos tus datos y el equipo se va a poner en contacto con vos muy pronto.</div>\n        </td>\n      </tr>\n      <tr>\n        <td style='padding:34px 36px 18px;'>\n          <div style='color:#172235; font-size:22px; line-height:1.3; font-weight:700;'>Hola ${nombre},</div>\n          <div style='margin-top:12px; color:#44556f; font-size:15px; line-height:1.7;'>Te confirmamos que tu adhesión fue recibida correctamente el ${localReceivedAt}. Abajo te dejamos el resumen de los datos que nos compartiste.</div>\n          <table role='presentation' cellpadding='0' cellspacing='0' border='0' width='100%' style='margin-top:22px; border:1px solid #d8e1ef; border-radius:18px; overflow:hidden; background:#ffffff;'>\n            ${subscriberDetails}\n          </table>\n          ${subscriberMessageBlock}\n          <div style='margin-top:24px; color:#44556f; font-size:15px; line-height:1.7;'>Estamos organizandonos para recuperar el gremio y cada persona que se suma hace la diferencia. Gracias por ser parte de esta construcción.</div>\n          <div style='margin-top:28px;'>\n            <a href='${campaignUrl}' style='display:inline-block; padding:14px 26px; border-radius:999px; background:#0d4675; color:#ffffff; text-decoration:none; font-size:15px; font-weight:700;'>Ver la campaña</a>\n          </div>\n        </td>\n      </tr>\n      <tr>\n        <td style='padding:0 36px 34px;'>\n          <table role='presentation' cellpadding='0' cellspacing='0' border='0' width='100%' style='margin-top:24px; padding-top:20px; border-top:1px solid #d8e1ef;'>\n            <tr>\n              <td style='color:#5f7089; font-size:13px; line-height:1.7; vertical-align:bottom;'>\n                Lista Azul y Blanca<br />\n                Agrupacion Nueve de Julio<br />\n                Este correo confirma que recibimos tu suscripcion desde el formulario Sumate! iniciando asi tu proceso de adhesion.\n              </td>\n              <td style='width:96px; text-align:right; vertical-align:bottom;'>\n                <img src='${footerLogoUrl}' alt='Logo Lista Azul y Blanca' width='76' style='display:block; margin-left:auto; width:76px; height:auto; opacity:0.68;' />\n              </td>\n            </tr>\n          </table>\n        </td>\n      </tr>\n    </table>\n  </div>\n`;\n\nconst teamSubject = `Nueva suscripcion Sumate: ${nombre}`;\nconst teamHtml = [\n  '<p>Llego una nueva suscripcion desde el modal Sumate.</p>',\n  '<ul>',\n  `<li><strong>Nombre:</strong> ${nombre}</li>`,\n  `<li><strong>Email:</strong> ${email}</li>`,\n  `<li><strong>Telefono:</strong> ${telefono}</li>`,\n  `<li><strong>Estacion de servicio:</strong> ${estacionServicio || 'No informada'}</li>`,\n  `<li><strong>Funcion:</strong> ${funcion || 'No informada'}</li>`,\n  `<li><strong>Origen:</strong> ${source}</li>`,\n  `<li><strong>Fecha:</strong> ${localReceivedAt}</li>`,\n  `<li><strong>Referer:</strong> ${referer}</li>`,\n  `<li><strong>IP:</strong> ${forwardedFor}</li>`,\n  '</ul>',\n  mensaje ? `<p><strong>Mensaje:</strong><br>${mensaje}</p>` : '<p><strong>Mensaje:</strong> No dejo mensaje.</p>',\n  sheetUrl ? `<p>Hoja: <a href=\"${sheetUrl}\">${sheetUrl}</a></p>` : '',\n].filter(Boolean).join('');\n\nreturn [{\n  json: {\n    nombre,\n    email,\n    telefono,\n    estacion_servicio: estacionServicio,\n    funcion,\n    mensaje,\n    source,\n    received_at: receivedAt,\n    received_at_local: localReceivedAt,\n    referer,\n    forwarded_for: forwardedFor,\n    user_agent: userAgent,\n    subscriberSubject,\n    subscriberHtml,\n    teamSubject,\n    teamHtml,\n  },\n}];"
      },
      "id": "code-validate-signup",
      "name": "Validar y Preparar Sumate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REEMPLAZAR_CON_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sumate",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "received_at": "={{ $json.received_at }}",
            "received_at_local": "={{ $json.received_at_local }}",
            "nombre": "={{ $json.nombre }}",
            "email": "={{ $json.email }}",
            "telefono": "={{ $json.telefono }}",
            "estacion_servicio": "={{ $json.estacion_servicio }}",
            "funcion": "={{ $json.funcion }}",
            "mensaje": "={{ $json.mensaje }}",
            "source": "={{ $json.source }}",
            "referer": "={{ $json.referer }}",
            "forwarded_for": "={{ $json.forwarded_for }}",
            "user_agent": "={{ $json.user_agent }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "received_at",
              "displayName": "received_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at_local",
              "displayName": "received_at_local",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estacion_servicio",
              "displayName": "estacion_servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "funcion",
              "displayName": "funcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "referer",
              "displayName": "referer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "forwarded_for",
              "displayName": "forwarded_for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_agent",
              "displayName": "user_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "google-sheets-signup",
      "name": "Guardar en Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { from: 'Lista Azul y Blanca <sumate@lanuevedejulio.com.ar>', to: ['REEMPLAZAR_CON_EMAIL_EQUIPO'], subject: $('Validar y Preparar Sumate').item.json.teamSubject, html: $('Validar y Preparar Sumate').item.json.teamHtml } }}",
        "options": {}
      },
      "id": "email-team-signup",
      "name": "Avisar al Equipo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer REEMPLAZAR_CON_RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { from: 'Lista Azul y Blanca <sumate@lanuevedejulio.com.ar>', to: [$('Validar y Preparar Sumate').item.json.email], subject: $('Validar y Preparar Sumate').item.json.subscriberSubject, html: $('Validar y Preparar Sumate').item.json.subscriberHtml } }}",
        "options": {}
      },
      "id": "email-subscriber-signup",
      "name": "Agradecer al Suscriptor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, message: 'Gracias. Ya enviamos tus datos al equipo.' } }}"
      },
      "id": "respond-signup-webhook",
      "name": "Responder Webhook Signup",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Lito Signup": {
      "main": [
        [
          {
            "node": "Validar y Preparar Sumate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar y Preparar Sumate": {
      "main": [
        [
          {
            "node": "Guardar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en Google Sheets": {
      "main": [
        [
          {
            "node": "Avisar al Equipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar al Equipo": {
      "main": [
        [
          {
            "node": "Agradecer al Suscriptor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agradecer al Suscriptor": {
      "main": [
        [
          {
            "node": "Responder Webhook Signup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "lito-signup-to-sheets-email-v1"
}
